.toggle-button {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 24px;
	width: 30px;
	border: none;
	background: transparent;
	cursor: pointer;
	box-sizing: border-box;
}

.toggle-button:focus {
	outline: none;
}

.toggle-button-line {
	width: 30px;
	height: 2px;
	background-color: white;
}