.upload-form {
	position: relative;
	top: 80px;
	background: white;
	border: 1px rgb(215, 215, 218) solid;
	color: black;
	margin: 0 auto;
	text-align: center;
	width: 80%;
	height: 200px;
	padding: 10px;
	font-size: 1.05em;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
}

.show-file {
	position: relative;
	margin: 0 auto;
	font-size: 16px;
}

.file-name {
	margin-top: 2px;
	margin-bottom: 2px;
}

.uploadform {
	margin-top: 20px;
}

.input-button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

form {
	margin-top: 40px;
}

#button-select {
	margin-right: 10px;
	background-color: rgb(15, 77, 211);
	color: white;
	border: 1px rgb(15, 77, 211) solid;
	border-radius: 3px;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.0em;
	display: inline-block;
}

#button-upload {
	background-color: rgb(15, 77, 211);
	color: white;
	border: 1px rgb(15, 77, 211) solid;
	border-radius: 3px;
	padding: 10px;
	padding-left: 23px;
	padding-right: 23px;
	font-size: 1.0em;
	display: inline-block;
}

.progress-bar {
	display: inherit;
	background-color: white;
	position: relative;
	width: 240px;
	height: 16px;
	padding: 2px 5px;
	top: 8px;
	margin: 0 auto;
	border: 1px inset #446;
	border-radius: 5px;
}

@media (min-width: 768px) {
	.upload-form {
		width: 50%;
		height: 220px;
	}
}



