.content {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	top: 60px;
	margin: 0 auto;
	text-align: center;
	transition: ease-in 0.2s;
}
.main-content {
	width: 100%;	
}

#head {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
}

img {
	transition: transform 0.2s;
	float: center;
	padding: 6px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

@media (min-width: 768px) {
	img {
		float: left;
	}
	img:hover {
		transform: scale(1.1);
		filter: blur(4px);
	}
}@media (max-width: 768px) {
	img:active {
		transform: scale(1.1);
		filter: blur(4px);
	}
}
a {

}
.feather-home{
	padding-top: 3px;
	padding-right: 3px;
	color: white;
	width: 24px;
	height: 24px;
}